<%= form_with(model:@task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="">
    <div class="">
      <%= f.label :title %>
    </div>
    <div class="">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="">
    <div class="">
      <%= f.label :content %>
    </div>
    <div class="">
      <%= f.text_area :content %>
    </div>
  </div>
  <div class="">
    <div class="">
      <%= f.label :expired_at %>
    </div>
    <div class="">
      <%= f.datetime_field :expired_at %>
    </div>
  </div>
  <div class="">
    <%= f.submit button_label %>
  </div>
<% end %>
