<div class="">
  <h2>タスク一覧</h2>
</div>

<%= form_with(scope: :task, url: tasks_path, method: :get, local: true) do |f| %>
  <div class="container">
    <div class="row my-4 justify-content-md-left">
      <div class:"col-auto">
        <%= f.label :title, 'タスク名', class:"form-label" %>
      </div>
      <div class="col-auto">
        <%= f.text_field :title, class:"form-control form-control-sm" %>
      </div>
      <div class="col-auto">
        <%= f.label :status, 'ステータス', class:"form-label"%>
      </div>
      <div class="col-auto">
        <%= f.select :status,Task.statuses.keys,{ include_blank: '選択してください' }, {class:"form-control form-control-sm status-select"} %>
      </div>
      <div class="col-auto">
        <%= f.label :tag, "ラベル", class:"form-label" %>
      </div>
      <div class="col-auto">
        <%= f.select :tag, Tag.all.collect{ |tag| [tag.name, tag.id]}, { include_blank: true } , { class:"form-control form-control-sm status-select" } %>
      </div>
      <div class="col-auto">
        <%= f.submit '検索' , class:"btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= t('view.title') %></th>
      <th scope="col"><%= t('view.content') %></th>
      <th scope="col"><%= link_to t('view.expired_at'), tasks_path(sort_expired:"true") %></th>
      <th scope="col"><%= t('view.status') %></th>
      <th scope="col"><%= link_to t('view.priority'), tasks_path(sort_priority:"true") %></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="task_row">
        <td>
          <%= task.title %>
          <% task.tags.each do |tag| %>
          <label class="label-bg label-sm">
            <%= tag.name %>
          </label>
          <% end %>
        </td>
        <td><%= task.content %></td>
        <td><%= task.expired_at.strftime("%m/%d/%H:%M") %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td>
        <%= link_to t('view.show'), task_path(task.id),class:"btn btn-sm btn-outline-secondary show-btn" %>
        <%= link_to t('view.edit'), edit_task_path(task.id),class:"btn btn-sm btn-outline-secondary edit-btn" %>
        <%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: '削除してよろしいですか？'},class:"btn btn-sm btn-outline-danger delete-btn" %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="">
  <%= paginate @tasks %>
</div>
