<h1><%= t('view.detail_task') %></h1>
<div class="">
  <div class="">
      <%= t('view.title') %>:<%= @task.title %>
  </div>
  <div class="">
      <%= t('view.content') %>:<%= @task.content %>
  </div>
  <%= link_to t('view.edit'), edit_task_path(@task.id) %>
  <%= link_to t('view.destroy'), task_path(@task.id), method: :delete %>
  <%= link_to t('view.back'), tasks_path %>
</div>
