<h2>ラベル作成</h2>
<div class="card p-3">
  <div>
    <%= form_with(model: @tag, url: admin_tags_path,local:true) do |f| %>
      <%= f.label :name,'ラベル名' %>
      <%= f.text_field :name %>
      <%= f.submit '作成' %>
    <% end %>
  </div>
  <div class="card m-3">
    <h5>タグ一覧</h5>
    <% @tags.each do |tag| %>
      <span>#<%= tag.name %><%= link_to '✖️', admin_tag_path(tag.id), method: :delete, data: { confirm: '削除してよろしいですか？'} %></span>
    <% end %>
  </div>
</div>
