<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar">
        <ul class="nav">
          <%= link_to "TASK MANAGER", tasks_path, class:"nav-link navbar-brand" %>
          <% if logged_in? %>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to "ユーザー一覧", admin_users_path,class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー登録", new_admin_user_path,class:"nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "タスク登録", new_task_path,class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "タスク一覧", tasks_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user.id), class:"nav-link" %>
              </li>
            <% end %>
              <li class="nav-item">
                <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class:"nav-link" %>
              </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "サインアップ", new_user_path,class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_session_path, class:"nav-link" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class="">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
